<div class="row">
  <div class="col-xs-8">
    <%= render partial:'videos/show/more_thumbnail', collection: videos[0,1] || [], as: :video  %>
  </div>
  <div class="col-xs-4">
    <%= render partial:'videos/show/more_thumbnail', collection: videos[1,2] || [], as: :video  %>
  </div>
</div>
<div class="row">
  <% (videos[3,4] || []).each do |video|%>
  <div class="col-xs-3">
    <%= render partial:'videos/show/more_thumbnail', locals: { video: video }  %>
  </div>
  <% end %>
</div>
