<div class="background-wrapper">
    <div class="flex main-heading-wrapper">
        <h1 class="main-heading">You can Ask Piter everything</h1>
        <span class="heading-sub-text">Your ultimate product base for extreme sports. Helping you to make the right choice.</span>
    </div>
    <div class="main-menu-wrapper">
        <nav class="flex">
            <a href="#">Feature</a>
            <a href="#">Video del dla</a>
            <a href="#">Photo of the Day</a>
            <a href="#">Video</a>
            <a href="#">Video</a>
            <a href="#">Feature</a>
        </nav>
    </div>
</div>
