<div class="row">
  <div class="col-xs-8">
    <%= render partial:'photos/show/more_thumbnail', collection: photos[0,1] || [], as: :photo  %>
  </div>
  <div class="col-xs-4">
    <%= render partial:'photos/show/more_thumbnail', collection: photos[1,2] || [], as: :photo  %>
  </div>
</div>
<div class="row">
  <% (photos[3,4] || []).each do |photo|%>
  <div class="col-xs-3">
    <%= render partial:'photos/show/more_thumbnail', locals: { photo: photo }  %>
  </div>
  <% end %>
</div>
