<ol class='breadcrumb'>
  <li>
    <%= link_to 'Home', root_path %>
  </li>
  <li>
    <%= link_to product.sub_category_name,
                search_index_path(sub_categories: [product.sub_category_id]) %>
  </li>
  <li>
    <%= link_to product.company_name,
                search_index_path(sub_categories: [product.sub_category_id],
                                  companies: [product.company_id]) %>
  </li>
  <li class='active'>
    <%= product.name %>
  </li>
</ol>
