<div class="background-wrapper" style="<%= sub_category_cover(@sub_category) %>">
    <%= render 'breadcrumbs' %>
    <div class="flex main-heading-wrapper">
        <h1 class="main-heading"><%= @sub_category.name %></h1>
        <span class="heading-sub-text">Use the filters to find your perfect</span>
    </div>
    <div class="main-menu-wrapper">
        <nav class="flex">
            <a href="#">Feature</a>
            <a href="#">Video del dla</a>
            <a href="#">Photo of the Day</a>
            <a href="#">Video</a>
            <a href="#">Video</a>
            <a href="#">Feature</a>
        </nav>
    </div>
</div>
