<!-- FOOTER LAYOUT -->
<footer class="flex footer-wrapper">
    <div class="flex footer-mainlinks-wrapper">
        <div class="footer-termslink-wrapper">
            <a href="#" class="footer-main-link"><span class="footer-terms-link">Terms</span></a>
        </div>
        <div class="footer-faqlink-wrapper">
            <a href="#" class="footer-main-link"><span class="footer-faq-link">FAQ</span></a>
        </div>
        <div class="footer-privacylink-wrapper">
            <a class="footer-main-link" href="#"><span class="footer-privacy-link">Privacy</span></a>
        </div>
        <div class="footer-maplink-wrapper">
            <a class="footer-main-link" href="#"><span class="footer-map-link">Site Map</span></a>
        </div>
    </div>
    <div class="flex footer-sociallinks-wrapper">
        <div class="footer-social-element social-text-wrapper">
            <span class="social-text">We are also in:</span>
        </div>
        <div class="footer-social-element footer-twitter-wrapper">
            <a href="#" class="footer-twitter-link"></a>
        </div>
        <div class="footer-social-element footer-facebook-wrapper">
            <a href="#" class="footer-facebook-link"></a>
        </div>
        <div class="footer-social-element footer-instagram-wrapper">
            <a href="#" class="footer-instagram-link"></a>
        </div>
    </div>
</footer>
